/logs
/login_logs
/client_logs
/bin
/dist
/bin/*
/target/
/build
/src/main/resources/xml
/protocol/
/protocol
target

.filebackups

# Eclipse
.project
.classpath
.settings/

# IDEA
.idea/
*.iml
/init.log
/player.json
