<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="5 minutes">
	<jmxConfigurator />
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <substitutionProperty name="log.base" value="logs/" />
    <substitutionProperty name="defaultLog" value="${log.base}/stdout" />
    <substitutionProperty name="minaLog" value="${log.base}/mina" />
	<substitutionProperty name="dbLog" value="${log.base}/db" />      
    <substitutionProperty name="errLog" value="${log.base}/err" />
    
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg thread[%thread]level[%-5level]logger[%logger{20}]%n</pattern>
        </layout>
    </appender>

	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->
    <appender name="defaultLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
	      <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
	        <expression>logger.contains("sun.rmi")</expression>
	      </evaluator>
	      <OnMismatch>ACCEPT</OnMismatch>  
          <OnMatch>DENY</OnMatch>  
	    </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <OnMismatch>ACCEPT</OnMismatch>  
          	<OnMatch>DENY</OnMatch>   
        </filter>  	        
        <Encoding>UTF-8</Encoding>
        <File>${defaultLog}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${defaultLog}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <minIndex>1</minIndex>  
            <maxIndex>3</maxIndex>            
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        	<!-- or whenever the file size reaches 100MB -->
	        	<maxFileSize>100MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg thread[%thread]level[%-5level]logger[%logger{20}]%n</pattern>
        </layout>
    </appender>
    
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->
    <appender name="dbfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>${dbLog}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${dbLog}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <minIndex>1</minIndex>  
            <maxIndex>3</maxIndex>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        	<!-- or whenever the file size reaches 100MB -->
	        	<maxFileSize>100MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg thread[%thread]level[%-5level]logger[%logger{20}]%n</pattern>
        </layout>
    </appender>                              
    
 	<!-- 错误输出 过滤出错误日志信息-->  
	<appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">  
         <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <OnMismatch>DENY</OnMismatch>  
            <OnMatch>ACCEPT</OnMatch>  
        </filter>  
        <Encoding>UTF-8</Encoding>
        <File>${errLog}.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${errLog}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>  
            <maxHistory>30</maxHistory>
            <minIndex>1</minIndex>  
            <maxIndex>3</maxIndex>            
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        	<!-- or whenever the file size reaches 100MB -->
	        	<maxFileSize>100MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
         
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg thread[%thread]level[%-5level]logger[%logger{20}]%n</Pattern>  
        </layout>  
    </appender>
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->
    <appender name="minafile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>${minaLog}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${minaLog}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <minIndex>1</minIndex>  
            <maxIndex>3</maxIndex>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        	<!-- or whenever the file size reaches 100MB -->
	        	<maxFileSize>100MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg thread[%thread]level[%-5level]logger[%logger{20}]%n</pattern>
        </layout>
    </appender>
	<logger name="dbLog" additivity="false">
		<level value="INFO"></level>
		<appender-ref ref="dbfile" />
	</logger>
	<logger name="minaLog" additivity="false">
		<level value="INFO"></level>
		<appender-ref ref="minafile" />
	</logger>		
    <root level="info">
<!--         <appender-ref ref="stdout" /> -->
        <appender-ref ref="defaultLog" />
    	<appender-ref ref="FILE-ERROR" /> 
    </root>
</configuration>
