<?xml version="1.0" encoding="UTF-8"?>
<!--级别:TRACE > DEBUG > INFO > WARN > ERROR > FATAL-->
<Configuration status="DEBUG" shutdownHook="disable">
    <Properties>
        <Property name="path_system">${sys:SEVER_PATH}/login_logs/</Property>
        <Property name="date_suffix">%d{yyyy-MM-dd}</Property>
        <Property name="extension">.log</Property>

        <Property name="file_system">system</Property>
        <Property name="file_info">info</Property>
        <Property name="file_warn">warn</Property>
        <Property name="file_error">error</Property>
        <Property name="file_net">net</Property>
        <Property name="file_netcheck">netcheck</Property>

    </Properties>

    <Loggers>

        <logger name="io.netty" level="warn"/>
        <logger name="org.redisson" level="warn"/>
        <logger name="org.apache" level="warn"/>
        <logger name="org.quartz" level="warn"/>

        <!--additivity,boolean,用来指定输出添加关系,子Logger的输出是否需要输出到父Logger中-->
        <Root level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Stdout"/>
        </Root>

        <AsyncLogger name="System" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="System"/>
        </AsyncLogger>
        
        <AsyncLogger name="Stdout" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Stdout"/>
        </AsyncLogger>

        <AsyncLogger name="Info" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Info"/>
        </AsyncLogger>

        <AsyncLogger name="Warn" level="warn" includeLocation="false" additivity="true">
            <AppenderRef ref="Warn"/>
            <!--<AppenderRef ref="Info"/>-->
        </AsyncLogger>

        <AsyncLogger name="Error" level="error" includeLocation="false" additivity="true">
            <AppenderRef ref="Error"/>
            <!--<AppenderRef ref="Warn"/>
            <AppenderRef ref="Info"/>-->
        </AsyncLogger>

        <AsyncLogger name="Net" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Net"/>
        </AsyncLogger>

        <AsyncLogger name="Elapsed" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Elapsed"/>
        </AsyncLogger>

        <AsyncLogger name="NetCheck" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="NetCheck"/>
        </AsyncLogger>

    </Loggers>

    <Appenders>
        <!--log格式采用'|'为分列符号,方便日志分析程序进行分列处理,并且带时区,用以跨地区日志分析使用-->
        <Console name="Console">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%-6c|%m%n"/>
        </Console>
        
        <RollingRandomAccessFile name="Stdout" fileName="${path_system}/stdout.log"
                     filePattern="${log-path}/%d{yyyy-MM-dd}.stdout.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="System"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_system}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Info"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_info}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Warn"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_warn}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Error"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_error}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Net"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_net}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="NetCheck"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_netcheck}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>
</Configuration>