<?xml version="1.0" encoding="UTF-8"?>
<!--级别:TRACE > DEBUG > INFO > WARN > ERROR > FATAL-->
<Configuration status="DEBUG" shutdownHook="disable">
    <Properties>
        <Property name="path_system">${sys:SEVER_PATH}/logs/system</Property>
        <Property name="path_game">${sys:SEVER_PATH}/logs/game</Property>
        <Property name="path_cy_game">${sys:SEVER_PATH_CYLOG}</Property>
        <Property name="date_suffix">%d{yyyy-MM-dd}</Property>
        <Property name="extension">.log</Property>

        <Property name="file_system">system</Property>
        <Property name="file_info">info</Property>
        <Property name="file_warn">warn</Property>
        <Property name="file_error">error</Property>
        <Property name="file_net">net</Property>
        <Property name="file_elapsed">elapsed</Property>
        <Property name="file_netcheck">netcheck</Property>
        <Property name="file_combat">combat</Property>

        <!-- *********************** 一级 ************************* -->
        <Property name="file_heart">heart</Property>
        <Property name="file_login">login</Property>
        <Property name="file_rolebuild">rolebuild</Property>
        <Property name="file_rolelogin">rolelogin</Property>
        <Property name="file_logout">logout</Property>
        <Property name="file_money">money</Property>
        <Property name="file_serverevent">serverevent</Property>
        <Property name="file_recharge">recharge</Property>
        <Property name="file_newstages">newstages</Property>
        <Property name="file_levelup">levelup</Property>
        <Property name="file_shoptrade">shoptrade</Property>
        <Property name="file_activity">activity</Property>

        <!-- *********************** 二级 ************************* -->
        <Property name="file_item">item</Property>
        <Property name="file_pvpfight">pvpfight</Property>
        <Property name="file_task">task</Property>
        <Property name="file_pvefight">pvefight</Property>
        <Property name="file_achievement">achievement</Property>
        <Property name="file_activationcode">activationcode</Property>


        <!-- *********************** 其他 ************************* -->
        <Property name="file_equipmentwear">equipmentwear</Property>
        <Property name="file_equipmentshape">equipmentshape</Property>
        <Property name="file_onhook">onhook</Property>
        <Property name="file_boxlevelup">boxlevelup</Property>
        <Property name="file_boxopen">boxopen</Property>
        <Property name="file_chat">chat</Property>
        <Property name="file_mail">mail</Property>
        <Property name="file_mailbox">mailbox</Property>
        <Property name="file_equipgems">equipgems</Property>
        <Property name="file_mergegems">mergegems</Property>
        <Property name="file_rankkz">rankkz</Property>
        <Property name="file_propertysnap">propertysnap</Property>
        <Property name="file_roleinfochange">roleinfochange</Property>
        <Property name="file_arena">arena</Property>
        <Property name="file_rankNumInfo">rankNumInfo</Property>
        <Property name="file_rankInfo">rankInfo</Property>
        <Property name="file_orderCreate">orderCreate</Property>
        <Property name="file_orderFinish">orderFinish</Property>
        <Property name="file_guildmanagement">guildmanagement</Property>
        <Property name="file_guildsnap">guildsnap</Property>
        <Property name="file_adwatching">adwatching</Property>
        <Property name="file_leagueboss">leagueboss</Property>
    </Properties>

    <Loggers>

        <logger name="org.hibernate" level="warn"/>
        <logger name="org.reflections" level="warn"/>
        <logger name="net.sf.ehcache" level="warn"/>
        <logger name="io.netty" level="warn"/>
        <logger name="com.mchange" level="warn"/>
        <logger name="io.lettuce" level="warn"/>
        <logger name="org.redisson" level="warn"/>
        <logger name="com.baidu" level="warn"/>
        <logger name="org.apache.zookeeper" level="warn"/>

        <!--additivity,boolean,用来指定输出添加关系,子Logger的输出是否需要输出到父Logger中-->
        <Root level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Console"/>
        </Root>

        <AsyncLogger name="System" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="System"/>
        </AsyncLogger>

        <AsyncLogger name="Info" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Info"/>
        </AsyncLogger>

        <AsyncLogger name="Warn" level="warn" includeLocation="false" additivity="true">
            <AppenderRef ref="Warn"/>
            <!--<AppenderRef ref="Info"/>-->
        </AsyncLogger>

        <AsyncLogger name="Error" level="error" includeLocation="false" additivity="true">
            <AppenderRef ref="Error"/>
            <!--<AppenderRef ref="Warn"/>
            <AppenderRef ref="Info"/>-->
        </AsyncLogger>

        <AsyncLogger name="Net" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Net"/>
        </AsyncLogger>

        <AsyncLogger name="Elapsed" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Elapsed"/>
        </AsyncLogger>

        <AsyncLogger name="Combat" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="Combat"/>
        </AsyncLogger>

        <AsyncLogger name="NetCheck" level="info" includeLocation="false" additivity="true">
            <AppenderRef ref="NetCheck"/>
        </AsyncLogger>

        <!--  已处理的日志  ============================================================== start -->

        <AsyncLogger name="heart" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="heart"/>
        </AsyncLogger>

        <AsyncLogger name="login" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="login"/>
        </AsyncLogger>

        <AsyncLogger name="rolebuild" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="rolebuild"/>
        </AsyncLogger>

        <AsyncLogger name="rolelogin" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="rolelogin"/>
        </AsyncLogger>
        <AsyncLogger name="logout" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="logout"/>
        </AsyncLogger>

        <AsyncLogger name="levelup" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="levelup"/>
        </AsyncLogger>

        <AsyncLogger name="item" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="item"/>
        </AsyncLogger>

        <AsyncLogger name="money" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="money"/>
        </AsyncLogger>

        <AsyncLogger name="serverevent" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="serverevent"/>
        </AsyncLogger>

        <AsyncLogger name="recharge" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="recharge"/>
        </AsyncLogger>

        <AsyncLogger name="shoptrade" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="shoptrade"/>
        </AsyncLogger>

        <AsyncLogger name="activity" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="activity"/>
        </AsyncLogger>

        <AsyncLogger name="pvpfight" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="pvpfight"/>
        </AsyncLogger>

        <AsyncLogger name="task" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="task"/>
        </AsyncLogger>

        <AsyncLogger name="pvefight" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="pvefight"/>
        </AsyncLogger>

        <AsyncLogger name="newstages" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="newstages"/>
        </AsyncLogger>

        <AsyncLogger name="equipmentshape" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="equipmentshape"/>
        </AsyncLogger>

        <AsyncLogger name="equipmentwear" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="equipmentwear"/>
        </AsyncLogger>

        <AsyncLogger name="onhook" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="onhook"/>
        </AsyncLogger>

        <AsyncLogger name="boxlevelup" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="boxlevelup"/>
        </AsyncLogger>

        <AsyncLogger name="boxopen" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="boxopen"/>
        </AsyncLogger>

        <AsyncLogger name="chat" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="chat"/>
        </AsyncLogger>

        <AsyncLogger name="mail" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="mail"/>
        </AsyncLogger>

        <AsyncLogger name="mailbox" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="mailbox"/>
        </AsyncLogger>

        <AsyncLogger name="equipgems" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="equipgems"/>
        </AsyncLogger>

        <AsyncLogger name="mergegems" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="mergegems"/>
        </AsyncLogger>


        <AsyncLogger name="rankkz" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="rankkz"/>
        </AsyncLogger>

        <AsyncLogger name="propertysnap" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="propertysnap"/>
        </AsyncLogger>

        <AsyncLogger name="achievement" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="achievement"/>
        </AsyncLogger>

        <AsyncLogger name="activationcode" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="activationcode"/>
        </AsyncLogger>

        <AsyncLogger name="arena" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="arena"/>
        </AsyncLogger>

        <AsyncLogger name="mail" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="mail"/>
        </AsyncLogger>

        <AsyncLogger name="rankNumInfo" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="rankNumInfo"/>
        </AsyncLogger>

        <AsyncLogger name="rankInfo" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="rankInfo"/>
        </AsyncLogger>

        <AsyncLogger name="orderFinish" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="orderFinish"/>
        </AsyncLogger>

        <AsyncLogger name="orderCreate" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="orderCreate"/>
        </AsyncLogger>

        <AsyncLogger name="roleinfochange" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="roleinfochange"/>
        </AsyncLogger>

        <AsyncLogger name="guildmanagement" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="guildmanagement"/>
        </AsyncLogger>

        <AsyncLogger name="guildsnap" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="guildsnap"/>
        </AsyncLogger>

        <AsyncLogger name="adwatching" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="adwatching"/>
        </AsyncLogger>

        <AsyncLogger name="leagueboss" level="info" includeLocation="false" additivity="false">
            <AppenderRef ref="leagueboss"/>
        </AsyncLogger>

        <!--  已处理的日志  ============================================================== end -->
    </Loggers>

    <Appenders>
        <!--log格式采用'|'为分列符号,方便日志分析程序进行分列处理,并且带时区,用以跨地区日志分析使用-->
        <Console name="Console">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%-6c|%m%n"/>
        </Console>

        <RollingRandomAccessFile name="System"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_system}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Info"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_info}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Warn"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_warn}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Error"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_error}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Net"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_net}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="Elapsed"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_elapsed}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Combat"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_combat}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS Z}|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="NetCheck"
                                 immediateFlush="true"
                                 filePattern="${path_system}/${file_netcheck}-${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <!--  已处理的日志  ============================================================== start -->
        <RollingRandomAccessFile name="heart"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_heart}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="login"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_login}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="rolebuild"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_rolebuild}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="rolelogin"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_rolelogin}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="logout"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_logout}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="levelup"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_levelup}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="shoptrade"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_shoptrade}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="activity"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_activity}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="money"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_money}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="item"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_item}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="serverevent"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_serverevent}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="recharge"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_recharge}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="pvpfight"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_pvpfight}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="arena"
                                 immediateFlush="true"
                                 filePattern="${path_game}/${file_arena}.log.${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="mail"
                                 immediateFlush="true"
                                 filePattern="${path_game}/${file_mail}.log.${date_suffix}${extension}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="task"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_task}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="pvefight"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_pvefight}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="newstages"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_newstages}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="equipmentshape"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_equipmentshape}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="equipmentwear"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_equipmentwear}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="onhook"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_onhook}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="boxlevelup"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_boxlevelup}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="boxopen"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_boxopen}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="chat"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_chat}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="mail"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_mail}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="rankNumInfo"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_rankNumInfo}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="rankInfo"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_rankInfo}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="orderCreate"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_orderCreate}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="orderFinish"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_orderFinish}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="mailbox"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_mailbox}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="equipgems"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_equipgems}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="mergegems"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_mergegems}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="rankkz"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_rankkz}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="propertysnap"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_propertysnap}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="achievement"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_achievement}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="activationcode"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_activationcode}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="roleinfochange"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_roleinfochange}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="guildmanagement"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_guildmanagement}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="guildsnap"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_guildsnap}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="adwatching"
                                 immediateFlush="true"
                                 filePattern="${path_cy_game}/${file_adwatching}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="leagueboss"
                                 immediateFlush="false"
                                 filePattern="${path_cy_game}/${file_leagueboss}.log.${date_suffix}">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <!--  已处理的日志 ============================================================== end -->

    </Appenders>
</Configuration>