package cn.game.protocol.protobuf;
import java.util.HashMap;
import java.util.Map;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.google.protobuf.Message;
import com.google.protobuf.Parser;
import com.google.protobuf.InvalidProtocolBufferException;

import cn.game.protocol.parser.ProtocolParser;
import cn.game.util.ByteHelp;

public class PbProtocol implements ProtocolParser {
	private static final Logger log = LoggerFactory.getLogger(PbProtocol.class);

	public static Map<Integer, Parser<?>> parsersMap = new HashMap<Integer, Parser<?>>();
	public static Map<String, Integer> nameIdMap = new HashMap<String, Integer>();
	public static Map<Integer, String> idNameMap = new HashMap<Integer, String>();
	
	private static PbProtocol instance = new PbProtocol();

	private PbProtocol() {
	};
	public static PbProtocol getInstance() {
		return instance;
	}
#foreach($m in $messages)

	public final static int ${m.shortName} = ${m.id};    #if (${m.comment})//${m.comment}  #end
#end
	

	static {	
#foreach($m in $messages)
		parsersMap.put(${m.shortName}, ${m.longName}.getDefaultInstance()
				.getParserForType());
#end	

#foreach($m in $messages)
		nameIdMap.put("${m.shortName}", ${m.id});
		idNameMap.put(${m.id},"${m.shortName}");
#end	
	}	
	@Override
	public Message parseFrom(int msgID,byte[] data){
		Parser<?> parser = parsersMap.get(msgID);  
		if (parser == null) {
			throw new IllegalArgumentException("message not found : "+msgID);
		}
		try {
			return (Message) parser.parseFrom(data);
		} catch (InvalidProtocolBufferException e) {
			log.error("Failed to parse message. ID: {}, Data length: {}, First 20 bytes: {}", msgID, data.length,
				ByteHelp.toString(data, 20));
			throw new RuntimeException(e);
		}
	}
	@Override	
	public int getMsgId(String name){
		Integer id = nameIdMap.get(name);
		if (id == null) { 
			throw new IllegalArgumentException("message id not found : " + name);
		}
		return id ;
	}
	
	@Override
	public String getMsgName(int id) {
		String name = idNameMap.get(id);
		if (name == null) {
			throw new IllegalArgumentException("message name not found : " + id);
		}
		return name;
	}
}
