package cn.game.protocol.protobuf;
import java.util.HashMap;
import java.util.Map;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.google.protobuf.Message;
import com.google.protobuf.Parser;
import cn.game.util.ByteHelp;

public class PbProtocol {

	public static Map<Integer, Parser<?>> parsersMap = new HashMap<Integer, Parser<?>>();
	public static Map<String, Integer> name2idMap = new HashMap<String, Integer>();
#foreach($m in $messages)

	public final static int ${m.shortName} = ${m.id};    #if (${m.comment})//${m.comment}  #end
#end
	

	static {	
#foreach($m in $messages)
		parsersMap.put(${m.shortName}, ${m.longName}.getDefaultInstance()
				.getParserForType());
#end	

#foreach($m in $messages)
		name2idMap.put("${m.shortName}", ${m.id});
#end	
	}	
	
	public static Message parseFrom(int msgID,byte[] data) throws Exception{
		Parser<?> parser = parsersMap.get(msgID);  
		if (parser == null) {
			throw new IllegalArgumentException("message not found : "+msgID);
		}
		return (Message) parser.parseFrom(data);
	}	
	public static int getMsgId(String name) throws IllegalArgumentException{
		Integer id = name2idMap.get(name);
		if (id == null) { 
			throw new IllegalArgumentException("message id not found : " + name);
		}
		return id ;
	}
}
