/logs
/bin
/dist
/bin/*
/target/
/.settings/*
.settings
/build
/.classpath
/.project
/src/main/resources/xml
/velocity.log
/src/main/java/cn/game/protocol/generated/**
/src/main/java/cn/game/protocol/protobuf/**
/messages.csv
/.idea